body {
  margin: 0;
  padding: 0;
  background: #ccc;
}

 .nav ul {
  list-style: none;
  background-color: #822c5c;
  text-align: center;
  padding: 0;
  margin: 0;
}

 .nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #6c4eb7;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 @media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
  
.nav li {
    display: inline-block;
    margin-right: -4px;
  }
  
.trump {
 border: 25px solid #822c5c;
 }
 
.clinton {
 border: 25px solid #822c5c;
 }









#left {
  float:left;
  width:50%;
  height: 25em;
  margin:1px .2em 1px 1px;
  border: 2px #822c5c;
}
#content {
  margin:1px .2em 1px 28%;
}
#right {
  float:left;
  width:50%;
  height: 25em;
  margin:1px .2em 1px 1px;
  border: 2px #822c5c;
}
/*
#cnt1 {
  position;relative;
  margin:.5em 2px;
  height: 10em;
  border: 1px #822c5c;

#cnt2 {
  position;relative;
  margin:.3em 2px;
  height: 100%;
}

